<div id="main">
	<div class="entry">

		<h1>RSVP to the US Wedding</h1>
		<p>Thanks for RSVPing online! We want to keep in touch with everyone regarding the wedding. This is a custom written application so it may have a few bugs. If it does, contact us (using the contact form) and we'll take your RSVP by hand and also look at the problem.</p>
		
		<h2>Your RSVP</h2>
		<p>To RSVP, you'll need the surname printed on your invitation (on the invite) and the street address number it was mailed to.</p>
	</div>


	


	<div class="comment-form">
		<%= form_for @guest, :url => login_path do |f| %>
			<%= content_tag :p, flash[:error], :style => 'color: red;' if flash[:error] %>
			<h2>Name</h2>
			<p>Please enter your surname, as written on the invitation envelope. If the guests named on your invitation have different surnames, use the first surname. For example if the RSVP says: &ldquo;Jack Bucket and Jill Hill&rdquo;, then please use &ldquo;Bucket&rdquo;.</p>
			<div class="row">
				<%= f.label :last_name, 'Surname' %>
				<%= f.text_field :last_name, :class => 'text_field_verify', :size => 12 %>
			</div>
			
			<h2>Street Address Number / PIN</h2>
			<p>Your street address number as printed on the invitation. For example, if your address is &ldquo;485 West Palm Road, Apt 20&rdquo;, then please use &ldquo;485&rdquo;. If you don't have a street address number, you should have received a note with a PIN number.  </p>
			<div class="row">
				<%= f.label :pin, 'Address number / PIN' %>
				<%= f.text_field :pin, :class => 'text_field_pin', :size => 8 %>
			</div>
					
			<div class="row"><%= f.submit 'Start RSVP', :class => 'btn-submit' %></div>
		<% end %>
	</div>
</div>