
<% guest = @guest || @session_guest %>
<%= form.error_messages %>
<div class="">
  <div class="row">
    <%= field_set_tag 'Guest' do %>
      <div class="row">
        <div class="inline">
          <%= form.label :salutation, :class=> 'inline' %><br />
          <%= form.select :salutation, options_from_collection_for_select(Guest::SALUTATIONS, :to_s, :to_s, form.object.salutation), {:include_blank => true}, {:style=> 'width:80px'}  %>
        </div>
      	<div class="inline">
          <%= form.label :first_name, :class=> 'inline' %><br />
          <%= form.text_field :first_name, :size => 15, :style=> 'width:120px' %>
        </div>
        <div class="inline">
          <%= form.label :last_name, :class=> 'inline' %><br />
          <%= form.text_field :last_name, :size => 15, :style=> 'width:120px' %>
        </div>
        <div class="inline">
          <%= form.label :suffix, :class=> 'inline' %><br />
    	    <%= form.text_field :suffix, :length => 4, :style => 'width:40px;' %>
        </div>
      </div>
      <%= form.fields_for :humans do |human| %>
        <%= render '/guests/human_fields', :f => human %>
      <% end %>
      <div class="row">
        <%= link_to_add_association 'add additional guest', form, :humans, :partial => 'guests/human_fields', :class => 'button_link small' %>
      </div>
      <div class="row"> 
      	<%= form.label :email %>
      	<%= form.text_field :email %>
      </div>
      <% if @admin_user %>
        <div class="row">
          <%= form.label :pin %>
          <%= form.text_field :pin %>
        </div>
      <% end %>
    <%  end %>
  </div>
</div>
<div class="clearfix"></div>
  <%= field_set_tag 'Rsvp' do %>
    <!-- <%= form.object.build_rsvp if form.object.rsvp.nil? %> -->
    <%= form.fields_for :rsvp do |rsvp| %>
      <%= render 'rsvps/form', :rsvp => rsvp %>
    <% end %>
  <% end %>
  <div class="row">
  <%= field_set_tag 'Address' do %>
    <%= form.object.build_address if form.object.address.nil? %>
  	<%= form.fields_for :address do |address| %>
  		<%= render 'addresses/form', :address => address %>
  	<%  end %>
  <% end %>

  <!-- 
    <% if @admin_user %>
    	<%= field_set_tag 'Gift' do %>
    	  <%= form.object.build_gift if form.object.gift.nil? %>
    		<%= form.fields_for :gift do |gift| %>
    			<%= render 'gifts/form', :gift => gift %>
    		<% end %>
    	<% end %>
    <% end %>
  -->


  
</div>
