
<%  guest = @guest || @session_guest
    guest_is_admin = guest == @admin_user %>
<div class="comment-form">
        <h1><%= guest.full_name %></h1>
        <p>
            <%= guest_status_content(guest) %>
        </p>

    
    <% unless guest_is_admin %>
        <div class="row">
            <div class="label_title">Mailing Address</div>
            <% if guest.has_address? %>
                <%= render :partial => '/addresses/address',  :locals => { :guest => guest } %>
            <% else %>
                <p>
                  No address entered, please add one:
                  <%= link_to 'Enter Address.', @admin_user ? edit_admin_guest_path(guest) : edit_guest_path(:anchor => 'address') %>
                </p>
            <% end %>
        </div>
        <div class="row">
            <div class="label_title">Email Address:</div>
            <%= guest_email_address_content(guest) %>
        </div>

        <div class="row">
            <div class="label_title">RSVP</div>
            <% if guest.has_rsvped? %>
                <%= render guest.rsvp, :guest => guest %>
            <% else %>
                <p>
                  <%= @admin_user ? "#{guest.name} has" : 'You have' %> not yet RSVP’d!<br />
                  <%= link_to "RSVP#{' for them' if @admin_user}", @admin_user ? edit_admin_guest_path(guest) : edit_guest_path, :class => 'button_link' %>
                </p>
            <% end %>
        </div>

        <div class="row">
            <div class="label_title">MENU CHOICES</div>
            <p>
              <%= link_to "MAKE MENU CHOICES", @admin_user ? edit_admin_guest_path(guest) : edit_guest_path, :class => 'button_link' %>
            </p>
        </div>

        <div class="row">
            <%= link_to "Update #{@admin_user ? (guest.first_name || guest.full_name) + '’s' : 'My'} Info", @admin_user ? edit_admin_guest_path(guest) : edit_guest_path, :class => 'button_link' %>
        </div>
    <% else %>
        <p>Hurray! You’re an admin user!</p>
    <% end %>

</div>