
<div class="row"> 
  
	<%= address.label :line_1, 'Street, line 1' %>
	<%= address.text_field :line_1 %>
</div>
<div class="row"> 
  	<%= address.label :line_2, 'Street, line 2' %>
	<%= address.text_field :line_2 %>
</div>
<div class="row"> 
  	<%= address.label :line_3, 'Street, line 3' %>
	<%= address.text_field :line_3 %>
</div>
<div class="row"> 
	<%= address.label :city %>
	<%= address.text_field :city %>
</div>
	<div class="row ca"> 
		<%= address.label :province, 'Province' %>
		<%= address.text_field :province %>
	</div>
	<div class="row usa"> 
		<%= address.label :state, 'State (abbreviation)' %>
		<%= address.text_field :state, :size => 3, :maxlength => 2 %>
	</div>
<div class="row"> 
	<%= address.label :zip, 'Postal/Zip Code' %>
	<%= address.text_field :zip, :size => 9, :maxlength => 9 %>
</div>
<div class="row">
	<%= address.label :country, 'Country' %>
	<%= address.select :country, Address::COUNTRY_OPTIONS.each_with_index.map {|name, index| [name,name]}, :include_blank => true, wrapper_html: { id: 'country_dropdown' }  %>
</div>
<script>
<!--
var form = $('#guest_address_attributes_country');
function showHideAddress () {
    var $selected = $(form).find('option:selected');
    if ($selected.val() === 'United States') {
        $('.usa').show();
        $('.ca').hide();
    } else if ($selected.val() === 'United Kingdom') { 
    	$('.usa').hide(); 
        $('.ca').hide();
    } else if ($selected.val() === 'Canada') {
    	$('.usa').hide(); 
        $('.ca').show();
    }
}
form.change(showHideAddress);
$(document).ready(function () {
	showHideAddress();
});
-->
</script>
